.Flipper-container {
  perspective: 1000px;
}
.Flipper-container:hover .flipper,
.Flipper-container.Flipper-flipped .flipper {
  transform: rotateY(180deg);
}
.Flipper-flipper {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.Flipper-front,
.Flipper-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.Flipper-front {
  z-index: 2;
  transform: rotateY(0deg);
}
.Flipper-back {
  z-index: 1;
  transform: rotateY(180deg);
}
